@import "../../responsive.scss";

.heroCard {
  height: 126px;
  width: 270px;
  padding: 16px;
  background-image: url(../../assets/heroCardBG.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;

  @include lg {
    padding: 14px;
  }

  .icon {
    height: 40px;
    width: 40px;
    margin: 0 auto;

    @include lg {
      height: 30px;
      width: 30px;
    }
  }

  h3 {
    margin: 8px 0;
    font-family: var(--font-code);
    font-size: 16px;
    font-weight: 700;

    @include lg {
      margin: 4px 0;
    }
  }

  p {
    font-family: var(--font-sora);
    font-size: 12px;
    color: #95959f;
  }
}
