@import "../../responsive.scss";

.productCard {
  height: auto;
  max-width: 400px;
  width: 100%;
  background-image: url(../../assets/trendingCardBG.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 8px 30px rgba(255, 255, 255, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 45px rgba(255, 255, 255, 0.4);
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    margin-top: 20px;
    padding: 12px;
    border-radius: 5px;

    h3 {
      font-size: calc(24px + (24 - 18) * ((100vw - 320px) / (1600 - 320)));
      font-family: var(--font-code);
    }

    .price {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 8px;

      p:first-child {
        font-size: calc(10px + (12 - 10) * ((100vw - 320px) / (1600 - 320)));
        text-decoration: line-through;
      }

      p:nth-child(2) {
        font-size: calc(16px + (16 - 14) * ((100vw - 320px) / (1600 - 320)));
        color: var(--yellow-color);
        font-weight: 700;
      }
    }
  }
  .buttons {
    display: flex;
    align-items: center;
    gap: 10px;

    button {
      padding: 10px;
      color: var(--dark-color);
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: var(--font-sora);
      background-color: var(--yellow-color);
      border: none;
      border-radius: 10px;
      font-size: calc(14px + (12 - 10) * ((100vw - 320px) / (1600 - 320)));
      transition: background-color 0.2s ease, transform 0.2s ease;

      &:hover {
        background-color: var(--primary-color);
        transform: scale(1.05);
        color: #fff;
      }
    }
  }
}
