@import "../../responsive.scss";

.shop {
  height: 100%;
  width: 100%;
  background-image: url(../../assets/shopHero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 15rem 6rem 4rem;

  @include md {
    padding: 10rem 4rem;
  }

  @include sm {
    padding: 8rem 2rem;
  }

  .shop__hero {
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    h1 {
      font-size: 90px;
    }

    button {
      padding: 12px 32px;
      background-color: var(--yellow-color);
      border-radius: 2px;
      font-size: 16px;
      font-family: var(--font-sora);
      color: var(--dark-color);
      font-weight: 700;
      margin-top: 50px;
      cursor: pointer;

      @include lg {
        padding: 6px 16px;
      }

      @include md {
        padding: 4px 10px;
      }
    }
  }
}
