@import "../../responsive.scss";

.trending {
  height: 100%;
  width: 100%;
  padding: 4rem 6rem;

  @include md {
    padding: 4rem;
  }

  @include sm {
    padding: 4rem 2rem;
  }

  .trending__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .trending__heading-title {
      flex: 2;

      .subTitle {
        color: var(--secondary-color);
        font-family: var(--font-sora);
        font-size: 13px;
        font-weight: 900;
        line-height: 18px;
        text-transform: uppercase;
        margin-bottom: 8px;

        @include lg {
          font-size: 12px;
        }

        @include md {
          margin-bottom: 4px;
        }
      }

      .title {
        display: flex;
        align-items: center;
        gap: 32px;

        @include md {
          gap: 4px;
        }

        h2 {
          font-family: var(--font-code);
          font-size: 48px;
          font-weight: 700;

          @include lg {
            font-size: 35px;
          }

          @include md {
            font-size: 30px;
          }
        }

        p {
          font-family: var(--font-code);
          font-size: 16px;
          line-height: 27px;
          color: var(--gray-color);

          @include lg {
            font-size: 12px;
            line-height: 18px;
          }

          @include md {
            display: none;
          }
        }
      }
    }

    button {
      padding: 12px 32px;
      background-color: var(--yellow-color);
      border-radius: 2px;
      font-size: 16px;
      font-family: var(--font-sora);
      color: var(--dark-color);
      font-weight: 700;

      @include lg {
        padding: 6px 16px;
      }

      @include md {
        padding: 4px 10px;
      }
    }
  }

  .trending__cards {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    @include md {
      margin-top: 40px;
      gap: 20px;
      justify-content: space-around;
    }

    @include sm {
      flex-direction: column;
      justify-content: center;
      gap: 30px;
    }
  }
}
