@import "../../responsive.scss";

.catalog {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 4rem 6rem;

  @include lg {
    padding: 4rem 4rem;
    gap: 32px;
  }

  @include md {
    padding: 4rem;
  }

  @include sm {
    padding: 4rem 2rem;
  }

  @include md {
    flex-direction: column;
  }

  .catalog__image {
    flex: 3;
    img {
      min-height: 429px;
      width: 100%;
    }
  }

  .catalog__text {
    flex: 2;
    display: flex;
    justify-content: center;

    .catalog__text-container {
      max-width: 342px;
      display: flex;
      flex-direction: column;
      gap: 32px;
      .subTitle {
        color: var(--secondary-color);
        font-family: var(--font-sora);
        font-size: 13px;
        font-weight: 900;
        line-height: 18px;
        text-transform: uppercase;
        margin-bottom: 8px;

        @include lg {
          font-size: 12px;
        }

        @include md {
          margin-bottom: 4px;
        }
      }

      .title {
        font-family: var(--font-code);
        font-size: 48px;
        font-weight: 700;

        @include lg {
          font-size: 35px;
        }

        @include md {
          font-size: 30px;
        }
      }

      .desc {
        font-family: var(--font-sora);
        font-size: 16px;
        line-height: 27px;
        color: var(--gray-color);
      }

      button {
        padding: 12px 32px;
        background-color: var(--yellow-color);
        border-radius: 2px;
        font-size: 16px;
        font-family: var(--font-sora);
        color: var(--dark-color);
        font-weight: 700;

        &:hover {
          background-color: var(--primary-color);
          transform: scale(1.05);
          color: #fff;
        }

        @include lg {
          padding: 6px 16px;
        }

        @include md {
          padding: 4px 10px;
        }
      }
    }
  }
}
